body {
  padding: 50px 0 0 0;
}

/* This is navmenu without on the desktop style */
.navmenu {
  padding-top: 50px;
  overflow-x: hidden
}

.navbar {
  display: block;
  text-align: right;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}
/* Mobile size such as iphone se/5/5s/5c */
@media (min-width: 200px) and (max-width: 480px ) {
  .navmenu {
    height: 70%;
    width: 100%;
    font-size: inherit;
    padding-top: 50px;    /*The left padding of the menu*/
  }
  .navbar-toggle {
    border: 1px solid black;
    background: transparent !important;
  }
  .navbar-toggle:hover {
    background: transparent !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}
