html, body {
  
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
  
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: right;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}
